{% extends "base.html" %}
{% block title %}Blog{% endblock %}

{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Blog</h1>
    <hr>
    {% for post in object_list %}
    <h2><a href="{% url 'blog-detail' post.pk%}">{{ post.title }}</a></h2>
    <small>
        | By: {{ post.author.username }}
        {{ post.created_on.date }} |&nbsp;
        | Last modified: {{post.last_modified }}|
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog-category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>

    <p>{{ post.body | slice:":700" }}...</p>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <a href="{% url 'update-post' post.pk %}"><button class="btn btn-warning">Edit</button></a>
        <a href="{% url 'delete-post' post.pk %}"><button class="btn btn-danger">Delete</button></a>
        <hr/>
        {% elif user.is_staff %}
        <a href="{% url 'update-post' post.pk %}"><button class="btn btn-warning">Edit</button></a>
        <a href="{% url 'delete-post' post.pk %}"><button class="btn btn-danger">Delete</button></a>
        <hr/>
    {% endif%}
    {% endif%}

    {% endfor %}
</div>
{% endblock %}
