{% extends "base.html" %}
{% block title %}Update post{% endblock %}
{% block page_content %}

<div class="col-md-8 offset-md-2">
    {% if user.is_authenticated %}
    <h1>Update your post on blog!</h1>
    <hr>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p}}
            <button class="btn btn-primary">Update</button>
        </form>
    </div>
    {% else %}
    You are not allowed here!
    {% endif %}
</div>

{% endblock %}



